USE [master]
GO
/****** Object:  Database [QuanLyKhachSan]    Script Date: 7/12/2022 2:03:03 PM ******/
CREATE DATABASE [QuanLyKhachSan]
GO
use [QuanLyKhachSan]
ALTER DATABASE [QuanLyKhachSan] SET COMPATIBILITY_LEVEL = 150
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLyKhachSan].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLyKhachSan]
GO
/****** Object:  Table [dbo].[DATPHONG_tbl]    Script Date: 7/12/2022 2:03:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DATPHONG_tbl](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IDKH] [int] NOT NULL,
	[IDPHONG] [int] NOT NULL,
	[NGAYDAT] [datetime] NOT NULL,
	[NGAYTRA] [datetime] NOT NULL,
	[STATUS] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DICHVU_tbl]    Script Date: 7/12/2022 2:03:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DICHVU_tbl](
	[IDDV] [int] IDENTITY(1,1) NOT NULL,
	[TENDV] [nvarchar](100) NOT NULL,
	[DONGIA] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDDV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DICHVUPHONG_tbl]    Script Date: 7/12/2022 2:03:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DICHVUPHONG_tbl](
	[IDDVPHONG] [int] IDENTITY(1,1) NOT NULL,
	[IDPHONG] [int] NOT NULL,
	[IDDATPHONG] [int] NOT NULL,
	[IDDV] [int] NOT NULL,
	[SOLAN] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOADON_tbl]    Script Date: 7/12/2022 2:03:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADON_tbl](
	[IDHD] [int] IDENTITY(1,1) NOT NULL,
	[IDDATPHONG] [int] NOT NULL,
	[TENPHONG] [nvarchar](100) NOT NULL,
	[LOAIPHONG] [nvarchar](100) NOT NULL,
	[NGAYVAO] [date] NOT NULL,
	[NGAYRA] [date] NOT NULL,
	[HOTEN] [nvarchar](100) NOT NULL,
	[QUOCTICH] [nvarchar](100) NOT NULL,
	[DIACHI] [nvarchar](100) NOT NULL,
	[TIENPHONG] [float] NOT NULL,
	[TIENDV] [float] NULL,
	[TONGTIEN] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACHHANG_tbl]    Script Date: 7/12/2022 2:03:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG_tbl](
	[IDKH] [int] IDENTITY(1,1) NOT NULL,
	[HO] [nvarchar](100) NOT NULL,
	[TEN] [nvarchar](100) NOT NULL,
	[SDT] [nvarchar](50) NOT NULL,
	[QUOCTICH] [nvarchar](100) NOT NULL,
	[DIACHI] [nvarchar](100) NOT NULL,
	[CCCD] [nvarchar](100) NOT NULL,
	[IDLOAIKH] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAIPHONG_tbl]    Script Date: 7/12/2022 2:03:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAIPHONG_tbl](
	[IDLOAIPHONG] [int] IDENTITY(1,1) NOT NULL,
	[TENLOAIPHONG] [nvarchar](100) NOT NULL,
	[DONGIA] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDLOAIPHONG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIEN_tbl]    Script Date: 7/12/2022 2:03:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN_tbl](
	[IDNV] [int] IDENTITY(1,1) NOT NULL,
	[IDUSER] [int] NULL,
	[HOTEN] [nvarchar](100) NOT NULL,
	[SDT] [nvarchar](50) NOT NULL,
	[LUONG] [int] NOT NULL,
	[DIACHI] [nvarchar](100) NOT NULL,
	[CHUCVU] [nvarchar](100) NOT NULL,
	[EMAIL] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHONG_tbl]    Script Date: 7/12/2022 2:03:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHONG_tbl](
	[IDPHONG] [int] IDENTITY(1,1) NOT NULL,
	[IDLOAIPHONG] [int] NOT NULL,
	[TENPHONG] [nvarchar](100) NOT NULL,
	[ROOM_STATUS] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDPHONG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THIETBI_tbl]    Script Date: 7/12/2022 2:03:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THIETBI_tbl](
	[IDTB] [int] IDENTITY(1,1) NOT NULL,
	[TENTB] [nvarchar](100) NOT NULL,
	[DONGIA] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDTB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THIETBIPHONG_tbl]    Script Date: 7/12/2022 2:03:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THIETBIPHONG_tbl](
	[IDTBP] [int] IDENTITY(1,1) NOT NULL,
	[IDPHONG] [int] NOT NULL,
	[IDTB] [int] NOT NULL,
	[SOLUONG] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDTBP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USER_tbl]    Script Date: 7/12/2022 2:03:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USER_tbl](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DISPLAYNAME] [nvarchar](100) NOT NULL,
	[USER_NAME] [nvarchar](100) NOT NULL,
	[USER_PASS] [nvarchar](1000) NOT NULL,
	[EMAIL] [nvarchar](100) NOT NULL,
	[USER_TYPE] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[DATPHONG_tbl] ON 

INSERT [dbo].[DATPHONG_tbl] ([ID], [IDKH], [IDPHONG], [NGAYDAT], [NGAYTRA], [STATUS]) VALUES (1, 1, 1, CAST(N'2020-05-01T00:00:00.000' AS DateTime), CAST(N'2020-06-13T00:00:00.000' AS DateTime), 1)
INSERT [dbo].[DATPHONG_tbl] ([ID], [IDKH], [IDPHONG], [NGAYDAT], [NGAYTRA], [STATUS]) VALUES (3, 2, 2, CAST(N'2020-05-05T00:00:00.000' AS DateTime), CAST(N'2020-05-13T00:00:00.000' AS DateTime), 1)
INSERT [dbo].[DATPHONG_tbl] ([ID], [IDKH], [IDPHONG], [NGAYDAT], [NGAYTRA], [STATUS]) VALUES (5, 4, 3, CAST(N'2022-06-11T00:00:00.000' AS DateTime), CAST(N'2022-06-13T00:00:00.000' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[DATPHONG_tbl] OFF
GO
SET IDENTITY_INSERT [dbo].[DICHVU_tbl] ON 

INSERT [dbo].[DICHVU_tbl] ([IDDV], [TENDV], [DONGIA]) VALUES (1, N'Dọn Phòng', 100000)
INSERT [dbo].[DICHVU_tbl] ([IDDV], [TENDV], [DONGIA]) VALUES (2, N'Giặt ủi', 50000)
INSERT [dbo].[DICHVU_tbl] ([IDDV], [TENDV], [DONGIA]) VALUES (4, N'Personal Trainer Gym', 200000)
SET IDENTITY_INSERT [dbo].[DICHVU_tbl] OFF
GO
SET IDENTITY_INSERT [dbo].[DICHVUPHONG_tbl] ON 

INSERT [dbo].[DICHVUPHONG_tbl] ([IDDVPHONG], [IDPHONG], [IDDATPHONG], [IDDV], [SOLAN]) VALUES (1, 2, 16, 1, 6)
INSERT [dbo].[DICHVUPHONG_tbl] ([IDDVPHONG], [IDPHONG], [IDDATPHONG], [IDDV], [SOLAN]) VALUES (2, 2, 16, 3, 4)
INSERT [dbo].[DICHVUPHONG_tbl] ([IDDVPHONG], [IDPHONG], [IDDATPHONG], [IDDV], [SOLAN]) VALUES (3, 10, 5, 1, 6)
SET IDENTITY_INSERT [dbo].[DICHVUPHONG_tbl] OFF
GO
SET IDENTITY_INSERT [dbo].[HOADON_tbl] ON 

INSERT [dbo].[HOADON_tbl] ([IDHD], [IDDATPHONG], [TENPHONG], [LOAIPHONG], [NGAYVAO], [NGAYRA], [HOTEN], [QUOCTICH], [DIACHI], [TIENPHONG], [TIENDV], [TONGTIEN]) VALUES (1, 30, N'P.101', N'Single', CAST(N'2022-06-24' AS Date), CAST(N'2022-06-24' AS Date), N'Trần Dần', N'Việt Nam', N'', 200000, 0, 200000)
INSERT [dbo].[HOADON_tbl] ([IDHD], [IDDATPHONG], [TENPHONG], [LOAIPHONG], [NGAYVAO], [NGAYRA], [HOTEN], [QUOCTICH], [DIACHI], [TIENPHONG], [TIENDV], [TONGTIEN]) VALUES (2, 26, N'P.102', N'Double', CAST(N'2022-06-18' AS Date), CAST(N'2022-06-24' AS Date), N'Trần Dần', N'Việt Nam', N'', 2400000, 6250000, 8650000)
INSERT [dbo].[HOADON_tbl] ([IDHD], [IDDATPHONG], [TENPHONG], [LOAIPHONG], [NGAYVAO], [NGAYRA], [HOTEN], [QUOCTICH], [DIACHI], [TIENPHONG], [TIENDV], [TONGTIEN]) VALUES (3, 25, N'P.103', N'Family', CAST(N'2022-06-17' AS Date), CAST(N'2022-06-24' AS Date), N'Trần Dần', N'Việt Nam', N'', 7000000, 100000, 7100000)
SET IDENTITY_INSERT [dbo].[HOADON_tbl] OFF
GO
SET IDENTITY_INSERT [dbo].[KHACHHANG_tbl] ON 

INSERT [dbo].[KHACHHANG_tbl] ([IDKH], [HO], [TEN], [SDT], [QUOCTICH], [DIACHI], [CCCD], [IDLOAIKH]) VALUES (1, N'Trần', N'Dần', N'12341', N'Việt Nam', N'Mỹ THO', N'1234', 1)
INSERT [dbo].[KHACHHANG_tbl] ([IDKH], [HO], [TEN], [SDT], [QUOCTICH], [DIACHI], [CCCD], [IDLOAIKH]) VALUES (2, N'Lương', N'Sang', N'5462313', N'Việt Nam', N'TP HCM', N'1235', 1)
INSERT [dbo].[KHACHHANG_tbl] ([IDKH], [HO], [TEN], [SDT], [QUOCTICH], [DIACHI], [CCCD], [IDLOAIKH]) VALUES (4, N'Đỗ', N'Lương', N'14214', N'Việt Nam', N'TP HCM', N'1236', 1)
SET IDENTITY_INSERT [dbo].[KHACHHANG_tbl] OFF
GO
SET IDENTITY_INSERT [dbo].[LOAIPHONG_tbl] ON 

INSERT [dbo].[LOAIPHONG_tbl] ([IDLOAIPHONG], [TENLOAIPHONG], [DONGIA]) VALUES (1, N'Single', 200000)
INSERT [dbo].[LOAIPHONG_tbl] ([IDLOAIPHONG], [TENLOAIPHONG], [DONGIA]) VALUES (2, N'Double', 400000)
INSERT [dbo].[LOAIPHONG_tbl] ([IDLOAIPHONG], [TENLOAIPHONG], [DONGIA]) VALUES (3, N'Family', 1000000)
SET IDENTITY_INSERT [dbo].[LOAIPHONG_tbl] OFF
GO
SET IDENTITY_INSERT [dbo].[NHANVIEN_tbl] ON 

INSERT [dbo].[NHANVIEN_tbl] ([IDNV], [IDUSER], [HOTEN], [SDT], [LUONG], [DIACHI], [CHUCVU], [EMAIL]) VALUES (2, -1, N'Trần Văn Tùng', N'093871673', 1, N'TPHCM', N'Bảo Vệ', N'taitv@gmail.com')
INSERT [dbo].[NHANVIEN_tbl] ([IDNV], [IDUSER], [HOTEN], [SDT], [LUONG], [DIACHI], [CHUCVU], [EMAIL]) VALUES (3, -1, N'Trần Văn Hữu', N'037371737365', 2, N'TPHCM', N'Tạp Vụ', N'huutv@gmail.com')
INSERT [dbo].[NHANVIEN_tbl] ([IDNV], [IDUSER], [HOTEN], [SDT], [LUONG], [DIACHI], [CHUCVU], [EMAIL]) VALUES (4, 2, N'Nguyễn Văn Tuấn', N'0012443', 9999999, N'THÁI NGUYÊN', N'Quản Lý', N'tuan123@gmail.com')
SET IDENTITY_INSERT [dbo].[NHANVIEN_tbl] OFF
GO
SET IDENTITY_INSERT [dbo].[PHONG_tbl] ON 

INSERT [dbo].[PHONG_tbl] ([IDPHONG], [IDLOAIPHONG], [TENPHONG], [ROOM_STATUS]) VALUES (1, 1, N'P.101', N'Trống')
INSERT [dbo].[PHONG_tbl] ([IDPHONG], [IDLOAIPHONG], [TENPHONG], [ROOM_STATUS]) VALUES (2, 2, N'P.102', N'Bận')
INSERT [dbo].[PHONG_tbl] ([IDPHONG], [IDLOAIPHONG], [TENPHONG], [ROOM_STATUS]) VALUES (3, 3, N'P.103', N'Trống')
SET IDENTITY_INSERT [dbo].[PHONG_tbl] OFF
GO
SET IDENTITY_INSERT [dbo].[THIETBI_tbl] ON 

INSERT [dbo].[THIETBI_tbl] ([IDTB], [TENTB], [DONGIA]) VALUES (1, N'Máy Lạnh', 5000000)
INSERT [dbo].[THIETBI_tbl] ([IDTB], [TENTB], [DONGIA]) VALUES (2, N'Tủ Lạnh', 7000000)
INSERT [dbo].[THIETBI_tbl] ([IDTB], [TENTB], [DONGIA]) VALUES (3, N'Tivi', 10000000)
SET IDENTITY_INSERT [dbo].[THIETBI_tbl] OFF
GO
SET IDENTITY_INSERT [dbo].[THIETBIPHONG_tbl] ON 

INSERT [dbo].[THIETBIPHONG_tbl] ([IDTBP], [IDPHONG], [IDTB], [SOLUONG]) VALUES (1, 7, 2, 1)
INSERT [dbo].[THIETBIPHONG_tbl] ([IDTBP], [IDPHONG], [IDTB], [SOLUONG]) VALUES (2, 7, 3, 1)
INSERT [dbo].[THIETBIPHONG_tbl] ([IDTBP], [IDPHONG], [IDTB], [SOLUONG]) VALUES (3, 8, 1, 1)
SET IDENTITY_INSERT [dbo].[THIETBIPHONG_tbl] OFF
GO
SET IDENTITY_INSERT [dbo].[USER_tbl] ON 

INSERT [dbo].[USER_tbl] ([ID], [DISPLAYNAME], [USER_NAME], [USER_PASS], [EMAIL], [USER_TYPE]) VALUES (2, N'Nguyễn Văn Tuấn', N'tuan', N'123', N'tuan123@gmail.com', 0)
INSERT [dbo].[USER_tbl] ([ID], [DISPLAYNAME], [USER_NAME], [USER_PASS], [EMAIL], [USER_TYPE]) VALUES (3, N'Nguyễn Tuấn Dũng', N'dung', N'56756756', N'dung123@gmail.com', 0)
INSERT [dbo].[USER_tbl] ([ID], [DISPLAYNAME], [USER_NAME], [USER_PASS], [EMAIL], [USER_TYPE]) VALUES (4, N'Nguyễn Quang Hào', N'hao', N'333', N'hao123@gmail.com', 1)
SET IDENTITY_INSERT [dbo].[USER_tbl] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__KHACHHAN__A955A0AAD1CA1A2A]    Script Date: 7/12/2022 2:03:03 PM ******/
ALTER TABLE [dbo].[KHACHHANG_tbl] ADD UNIQUE NONCLUSTERED 
(
	[CCCD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DATPHONG_tbl] ADD  DEFAULT ((0)) FOR [STATUS]
GO
ALTER TABLE [dbo].[DICHVUPHONG_tbl] ADD  DEFAULT ((0)) FOR [SOLAN]
GO
ALTER TABLE [dbo].[KHACHHANG_tbl] ADD  DEFAULT ((0)) FOR [IDLOAIKH]
GO
/****** Object:  StoredProcedure [dbo].[BaoCaoTheoDV]    Script Date: 7/12/2022 2:03:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROC [dbo].[BaoCaoTheoDV]
@iddv INT,
@ngayvao DATE,
@ngayra DATE
AS
BEGIN
	SELECT hd.TENPHONG,hd.NGAYVAO,hd.NGAYRA,dv.TENDV,dvp.SOLAN,dv.DONGIA,dv.DONGIA*dvp.SOLAN AS TIENDV
	FROM dbo.HOADON_tbl hd JOIN dbo.DICHVUPHONG_tbl dvp ON hd.IDDATPHONG = dvp.IDDATPHONG JOIN dbo.DICHVU_tbl dv ON dv.IDDV = dvp.IDDV
	WHERE dv.IDDV = @iddv AND hd.NGAYVAO >= @ngayvao AND hd.NGAYRA<=@ngayra
END
GO
/****** Object:  StoredProcedure [dbo].[BaoCaoTheoKhachHang]    Script Date: 7/12/2022 2:03:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROC [dbo].[BaoCaoTheoKhachHang]
@loaikh INT,
@ngayvao DATE,
@ngayra DATE
AS
BEGIN
	SELECT hd.HOTEN ,hd.NGAYVAO,hd.NGAYRA,hd.TENPHONG,hd.TIENDV,hd.TIENPHONG,hd.TONGTIEN
	FROM dbo.HOADON_tbl hd JOIN dbo.KHACHHANG_tbl kh ON hd.HOTEN = kh.HO+' '+kh.TEN
	WHERE kh.IDLOAIKH =@loaikh AND hd.NGAYVAO >= @ngayvao AND hd.NGAYRA<=@ngayra
END
GO
/****** Object:  StoredProcedure [dbo].[BaoCaoTheoPhong]    Script Date: 7/12/2022 2:03:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROC [dbo].[BaoCaoTheoPhong]
@tenPhong NVARCHAR(100),
@ngayvao DATE,
@ngayra DATE
AS
BEGIN
	SELECT hd.TENPHONG ,hd.NGAYVAO,hd.NGAYRA,hd.LOAIPHONG,hd.TIENPHONG/lp.DONGIA AS NGAYO,lp.DONGIA,hd.TIENPHONG
	FROM dbo.HOADON_tbl hd JOIN dbo.PHONG_tbl p ON p.TENPHONG = hd.TENPHONG JOIN dbo.LOAIPHONG_tbl lp ON lp.IDLOAIPHONG = p.IDLOAIPHONG
	WHERE hd.TENPHONG =@tenPhong AND hd.NGAYVAO >= @ngayvao AND hd.NGAYRA<=@ngayra
END
GO
/****** Object:  StoredProcedure [dbo].[CHECKDV]    Script Date: 7/12/2022 2:03:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   proc [dbo].[CHECKDV]
@idDV int
as
begin
		SELECT dbo.DICHVUPHONG_tbl.IDDV,dbo.DATPHONG_tbl.STATUS
		FROM dbo.DICHVUPHONG_tbl JOIN dbo.DATPHONG_tbl  ON dbo.DATPHONG_tbl.ID=DICHVUPHONG_tbl.IDDATPHONG
		WHERE  dbo.DATPHONG_tbl.STATUS =0 and dbo.DICHVUPHONG_tbl.IDDV=@idDV

end
GO
/****** Object:  StoredProcedure [dbo].[getgiaphong]    Script Date: 7/12/2022 2:03:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   proc [dbo].[getgiaphong]
@idphong int
as
begin
		select DONGIA from LOAIPHONG_tbl a JOIN PHONG_tbl b on a.IDLOAIPHONG=b.IDLOAIPHONG where IDPHONG =@idphong 
end
GO
/****** Object:  StoredProcedure [dbo].[getidloaiphong]    Script Date: 7/12/2022 2:03:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[getidloaiphong]
@tenloaiphong nvarchar(100)
as
begin
		select IDLOAIPHONG from LOAIPHONG_tbl where TENLOAIPHONG=@tenloaiphong
end
GO
/****** Object:  StoredProcedure [dbo].[getidphong]    Script Date: 7/12/2022 2:03:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[getidphong]
@tenphong nvarchar(100)
as
begin
		select IDPHONG from PHONG_tbl where TENPHONG =@tenphong 
end
GO
/****** Object:  StoredProcedure [dbo].[getlistdatphong]    Script Date: 7/12/2022 2:03:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[getlistdatphong]
as
begin
		select * from DATPHONG_tbl
end
GO
/****** Object:  StoredProcedure [dbo].[getlistdvphong]    Script Date: 7/12/2022 2:03:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[getlistdvphong]
as
begin
		select C.TENPHONG,A.TENDV,A.DONGIA from (DICHVU_tbl a join DICHVUPHONG_tbl b ON a.IDDV=b.IDDV) join PHONG_tbl c on c.IDPHONG=b.IDPHONG
end
GO
/****** Object:  StoredProcedure [dbo].[getlistIDUSER]    Script Date: 7/12/2022 2:03:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[getlistIDUSER]
as
begin
		select ID from USER_tbl a
		WHERE a.ID not in (select b.IDUSER from USER_tbl a join NHANVIEN_tbl b on a.ID=b.IDUSER)
end
GO
/****** Object:  StoredProcedure [dbo].[getlistkh]    Script Date: 7/12/2022 2:03:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--LAY DS KH
create proc [dbo].[getlistkh]
as
begin
		select * from KHACHHANG_tbl
end
GO
/****** Object:  StoredProcedure [dbo].[getlistNV]    Script Date: 7/12/2022 2:03:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[getlistNV]
as
begin
		select * from NHANVIEN_tbl
end
GO
/****** Object:  StoredProcedure [dbo].[getlistPhong]    Script Date: 7/12/2022 2:03:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[getlistPhong]
as
begin
		select * from PHONG_tbl
end
GO
/****** Object:  StoredProcedure [dbo].[getlisttenNV]    Script Date: 7/12/2022 2:03:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--LAY tenNV
create proc [dbo].[getlisttenNV]
@iduser int
as
begin
		select D from US
end
GO
/****** Object:  StoredProcedure [dbo].[getlistTenPhong]    Script Date: 7/12/2022 2:03:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--LAY DS TENPHONG
create   proc [dbo].[getlistTenPhong]
as
begin
		select TENPHONG from PHONG_tbl where ROOM_STATUS=N'Bận'
end
GO
/****** Object:  StoredProcedure [dbo].[getlistUser]    Script Date: 7/12/2022 2:03:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[getlistUser]
as
begin
		select * from USER_tbl
end
GO
/****** Object:  StoredProcedure [dbo].[getsoADMIN]    Script Date: 7/12/2022 2:03:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--LAY admin
create proc [dbo].[getsoADMIN]
as
begin
		select COUNT(*) from USER_tbl where USER_TYPE=1
end
GO
/****** Object:  StoredProcedure [dbo].[getsoKH]    Script Date: 7/12/2022 2:03:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--LAY SO KH
create proc [dbo].[getsoKH]
as
begin
		select COUNT(*) from KHACHHANG_tbl
end
GO
/****** Object:  StoredProcedure [dbo].[getsoPhong]    Script Date: 7/12/2022 2:03:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--LAY so phong
create proc [dbo].[getsoPhong]
as
begin
		select COUNT(*) from PHONG_tbl
end
GO
/****** Object:  StoredProcedure [dbo].[getsoUser]    Script Date: 7/12/2022 2:03:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[getsoUser]
as
begin
		select COUNT(*) from USER_tbl where USER_TYPE=0
end
GO
/****** Object:  StoredProcedure [dbo].[geTtenNV]    Script Date: 7/12/2022 2:03:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[geTtenNV]
@iduser int
as
begin
		select DISPLAYNAME from USER_tbl WHERE ID=@iduser
end
GO
/****** Object:  StoredProcedure [dbo].[gettenphong]    Script Date: 7/12/2022 2:03:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   proc [dbo].[gettenphong]
@idphong int
as
begin
		select TENPHONG from PHONG_tbl where IDPHONG =@idphong 
end
GO
/****** Object:  StoredProcedure [dbo].[gettenhong]    Script Date: 7/12/2022 2:03:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   proc [dbo].[gettenhong]
@idphong int
as
begin
		select TENPHONG from PHONG_tbl where IDPHONG =@idphong 
end
GO
/****** Object:  StoredProcedure [dbo].[gettgiadv]    Script Date: 7/12/2022 2:03:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[gettgiadv]
@tendv nvarchar(100)
as
begin
		select DONGIA from DICHVU_tbl where TENDV =@tendv 
end
GO
/****** Object:  StoredProcedure [dbo].[gettrangthaiphong]    Script Date: 7/12/2022 2:03:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--LAY TRANG THAI PHONG
create   proc [dbo].[gettrangthaiphong]
@idphong int
as
begin
		select ROOM_STATUS from PHONG_tbl where IDPHONG =@idphong 
end
GO
/****** Object:  StoredProcedure [dbo].[giadvphong]    Script Date: 7/12/2022 2:03:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--LAY GIA dv
create   proc [dbo].[giadvphong]
@idphong int
as
begin
		select SUM(DONGIA)as GIADV from DICHVUPHONG_tbl a JOIN DICHVU_tbl b on a.IDDV=b.IDDV where IDPHONG =@idphong
end
GO
/****** Object:  StoredProcedure [dbo].[idloaiphong]    Script Date: 7/12/2022 2:03:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Lay LOAI PHONG
create   proc [dbo].[idloaiphong]
@idphong int
as
begin
		select TENLOAIPHONG from PHONG_tbl a join LOAIPHONG_tbl b on a.IDLOAIPHONG=b.IDLOAIPHONG where IDPHONG =@idphong 
end
GO
/****** Object:  StoredProcedure [dbo].[kiemtratUser]    Script Date: 7/12/2022 2:03:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[kiemtratUser]
@userName nvarchar(100),@pass nvarchar(1000)
as
begin
		select USER_TYPE from USER_tbl where USER_NAME =@userName and USER_PASS=@pass
end
GO
/****** Object:  StoredProcedure [dbo].[KiemTraVip]    Script Date: 7/12/2022 2:03:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROC [dbo].[KiemTraVip]
@CCCD NVARCHAR(100)
AS
BEGIN
	SELECT * FROM dbo.DATPHONG_tbl dp JOIN dbo.KHACHHANG_tbl kh ON kh.IDKH = dp.IDKH WHERE kh.CCCD =@CCCD
END
GO
/****** Object:  StoredProcedure [dbo].[LAYDCKHDP]    Script Date: 7/12/2022 2:03:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create    proc [dbo].[LAYDCKHDP]
@idphong INT
as
begin
		select DIACHI from DATPHONG_tbl a join KHACHHANG_tbl b on a.IDKH=b.IDKH
		where ID=@idphong
end
GO
/****** Object:  StoredProcedure [dbo].[layDSTP]    Script Date: 7/12/2022 2:03:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--lay DS TRAphong
create   proc [dbo].[layDSTP]
as
begin
		select * from TRAPHONG_tbl
end
GO
/****** Object:  StoredProcedure [dbo].[layiddatphong]    Script Date: 7/12/2022 2:03:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   proc [dbo].[layiddatphong]
as
begin
		select ID from DATPHONG_tbl where ID not in (select a.ID from DATPHONG_tbl a join TRAPHONG_tbl b on a.ID=b.IDTRAPHONG)
end
GO
/****** Object:  StoredProcedure [dbo].[LAYIDKH]    Script Date: 7/12/2022 2:03:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--LAY id KH
create   proc [dbo].[LAYIDKH]
@ten nvarchar(100)
as
begin
		select IDKH from KHACHHANG_tbl 
		where TEN=@ten
end
GO
/****** Object:  StoredProcedure [dbo].[layidkhTP]    Script Date: 7/12/2022 2:03:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--lay id khachhang theo tra phong
create   proc [dbo].[layidkhTP]
@idtp int
as
begin
		select IDKH from DATPHONG_tbl where ID=@idtp
end
GO
/****** Object:  StoredProcedure [dbo].[LAYIDphong]    Script Date: 7/12/2022 2:03:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--LAY id phong
create   proc [dbo].[LAYIDphong]
@tenphong nvarchar(100)
as
begin
		select IDPHONG from PHONG_tbl 
		where TENPHONG=@tenphong
end
GO
/****** Object:  StoredProcedure [dbo].[layidphongcu]    Script Date: 7/12/2022 2:03:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   proc [dbo].[layidphongcu]
@iddatphong int 
as
begin
		select IDPHONG from DATPHONG_tbl where ID=@iddatphong
end
GO
/****** Object:  StoredProcedure [dbo].[layidphongTP]    Script Date: 7/12/2022 2:03:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--lay id khachhang theo tra phong
create   proc [dbo].[layidphongTP]
@idtp int
as
begin
		select IDPHONG from DATPHONG_tbl where ID=@idtp
end
GO
/****** Object:  StoredProcedure [dbo].[LAYNGAYDATphong]    Script Date: 7/12/2022 2:03:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create    proc [dbo].[LAYNGAYDATphong]
@idphong INT
as
begin
		select NGAYDAT from DATPHONG_tbl 
		where ID=@idphong
end
GO
/****** Object:  StoredProcedure [dbo].[LAYQTKHDP]    Script Date: 7/12/2022 2:03:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create    proc [dbo].[LAYQTKHDP]
@idphong INT
as
begin
		select QUOCTICH from DATPHONG_tbl a join KHACHHANG_tbl b on a.IDKH=b.IDKH
		where ID=@idphong
end
GO
/****** Object:  StoredProcedure [dbo].[LAYtenKH]    Script Date: 7/12/2022 2:03:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   proc [dbo].[LAYtenKH]
as
begin
		select a.TEN from KHACHHANG_tbl a
		--where a.IDKH not in (select a.IDKH from KHACHHANG_tbl a join DATPHONG_tbl b on a.IDKH=b.IDKH)
end
GO
/****** Object:  StoredProcedure [dbo].[LAYTENKHDP]    Script Date: 7/12/2022 2:03:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create    proc [dbo].[LAYTENKHDP]
@idphong INT
as
begin
		select b.HO+' '+b.TEN as HOTEN from DATPHONG_tbl a join KHACHHANG_tbl b on a.IDKH=b.IDKH
		where ID=@idphong
end
GO
/****** Object:  StoredProcedure [dbo].[laytenkhTP]    Script Date: 7/12/2022 2:03:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--lay tenkhachhang theo tra phong
create   proc [dbo].[laytenkhTP]
@idkh int
as
begin
		select TEN from KHACHHANG_tbl where IDKH=@idkh
end
GO
/****** Object:  StoredProcedure [dbo].[LAYtenPhong]    Script Date: 7/12/2022 2:03:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   proc [dbo].[LAYtenPhong]
as
begin
		select a.TENPHONG from PHONG_tbl a
		where a.IDPHONG not in (select a.IDPHONG from PHONG_tbl a join DATPHONG_tbl b on a.IDPHONG=b.IDPHONG)
end
GO
/****** Object:  StoredProcedure [dbo].[laytenphongTP]    Script Date: 7/12/2022 2:03:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   proc [dbo].[laytenphongTP]
@idphong int
as
begin
		select TENPHONG from PHONG_tbl where IDPHONG=@idphong
end
GO
/****** Object:  StoredProcedure [dbo].[Loadrptheongay]    Script Date: 7/12/2022 2:03:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Loadrptheongay]
@tungay DATE,
@denngay DATE
AS
BEGIN
	SELECT IDHD,TENPHONG,HOTEN,NGAYVAO,NGAYRA,TIENPHONG,TIENDV,TONGTIEN FROM dbo.HOADON_tbl WHERE NGAYRA>=@tungay AND NGAYRA<=@denngay
END
GO
/****** Object:  StoredProcedure [dbo].[LoadrptheongayLoaiPhong]    Script Date: 7/12/2022 2:03:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[LoadrptheongayLoaiPhong]
@loaiphong	NVARCHAR(100),
@tungay DATE,
@denngay DATE
AS
BEGIN
	SELECT IDHD,LOAIPHONG,NGAYVAO,NGAYRA,TIENPHONG,TIENDV,TONGTIEN FROM dbo.HOADON_tbl WHERE NGAYRA>=@tungay AND NGAYRA<=@denngay AND LOAIPHONG = @loaiphong
END
GO
/****** Object:  StoredProcedure [dbo].[SuaDP]    Script Date: 7/12/2022 2:03:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Sua datphong
create proc [dbo].[SuaDP]
@iddp int,
@idkh int,
@idphong int,
@ngaydat date,
@ngaytra date
as
begin
		UPDATE DATPHONG_tbl SET IDKH=@idkh,IDPHONG=@idphong,NGAYDAT=@ngaydat,NGAYTRA=@ngaytra WHERE ID=@iddp
end
GO
/****** Object:  StoredProcedure [dbo].[SuaKH]    Script Date: 7/12/2022 2:03:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   proc [dbo].[SuaKH]
@idkh int,
@ho nvarchar(100),
@ten nvarchar(100),
@sdt nvarchar(100),
@quoctich nvarchar(100),
@diachi nvarchar(100),
@cccd nvarchar(100),
@loaikh int 
as
begin
		UPDATE KHACHHANG_tbl SET HO=@ho,TEN=@ten,SDT=@sdt,QUOCTICH=@quoctich,DIACHI=@diachi,CCCD=@cccd,IDLOAIKH=@loaikh WHERE IDKH=@idkh
end
GO
/****** Object:  StoredProcedure [dbo].[SuaNV]    Script Date: 7/12/2022 2:03:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   proc [dbo].[SuaNV]
@idnv int,
@iduser nvarchar(100),
@hoten nvarchar(100),
@sdt nvarchar(100),
@luong int,
@diachi nvarchar(100),
@chucvu nvarchar(100),
@email NVARCHAR(100)
as
begin
		UPDATE NHANVIEN_tbl SET IDUSER=@iduser,HOTEN=@hoten,SDT=@sdt,LUONG=@luong,DIACHI=@diachi,CHUCVU=@chucvu,EMAIL=@email WHERE IDNV=@idnv
end
GO
/****** Object:  StoredProcedure [dbo].[SuaRoom]    Script Date: 7/12/2022 2:03:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Sua phong
create proc [dbo].[SuaRoom]
@idphong int,
@idloaiphong int,
@tenphong nvarchar(100),
@trangthai nvarchar(100)
as
begin
		UPDATE PHONG_tbl SET IDLOAIPHONG=@idloaiphong,TENPHONG=@tenphong,ROOM_STATUS=@trangthai WHERE IDPHONG=@idphong
end
GO
/****** Object:  StoredProcedure [dbo].[SuaTTP]    Script Date: 7/12/2022 2:03:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   proc [dbo].[SuaTTP]
@idphong int
as
begin
		UPDATE PHONG_tbl SET ROOM_STATUS=N'Bận' WHERE IDPHONG=@idphong
end
GO
/****** Object:  StoredProcedure [dbo].[SuaTTPup]    Script Date: 7/12/2022 2:03:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   proc [dbo].[SuaTTPup]
@idphongcu int,
@idphongmoi int
as
begin
		UPDATE PHONG_tbl SET ROOM_STATUS=N'Trống' WHERE IDPHONG=@idphongcu
		UPDATE PHONG_tbl SET ROOM_STATUS=N'Bận' WHERE IDPHONG=@idphongmoi
end
GO
/****** Object:  StoredProcedure [dbo].[SuaTTPxoa]    Script Date: 7/12/2022 2:03:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   proc [dbo].[SuaTTPxoa]
@idphong int
as
begin
		UPDATE PHONG_tbl SET ROOM_STATUS=N'Trống' WHERE IDPHONG=@idphong
end
GO
/****** Object:  StoredProcedure [dbo].[SuaUser]    Script Date: 7/12/2022 2:03:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[SuaUser]
@id int,
@ten nvarchar(100),
@tk nvarchar(100),
@mk nvarchar(100),
@email nvarchar(100),
@type int
as
begin
		UPDATE USER_tbl SET DISPLAYNAME=@ten,USER_NAME=@tk,USER_PASS=@mk,EMAIL=@email,USER_TYPE=@type WHERE ID=@id
end
GO
/****** Object:  StoredProcedure [dbo].[Timkhtheoten]    Script Date: 7/12/2022 2:03:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[Timkhtheoten]
@ten nvarchar(50)
as
begin
		select * from KHACHHANG_tbl where  HO like '%'+ @ten+'%' or TEN like '%'+ @ten+'%'
end
GO
/****** Object:  StoredProcedure [dbo].[timNV]    Script Date: 7/12/2022 2:03:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   proc [dbo].[timNV]
@ten nvarchar(100)
as
begin
		select * from NHANVIEN_tbl where  HOTEN like '%'+ @ten+'%'
end
GO
/****** Object:  StoredProcedure [dbo].[timPhong]    Script Date: 7/12/2022 2:03:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--tim phong theo ten
create   proc [dbo].[timPhong]
@tenphong nvarchar(100)
as
begin
		select * from PHONG_tbl where  TENPHONG like '%'+ @tenphong+'%'
end
GO
/****** Object:  StoredProcedure [dbo].[timUser]    Script Date: 7/12/2022 2:03:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--tim user theo ten
create   proc [dbo].[timUser]
@ten nvarchar(100)
as
begin
		select * from USER_tbl where  DISPLAYNAME like '%'+ @ten+'%'
end
GO
/****** Object:  StoredProcedure [dbo].[TongTienLoaiPhong]    Script Date: 7/12/2022 2:03:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[TongTienLoaiPhong]
@loaiphong	NVARCHAR(100),
@tungay DATE,
@denngay DATE
AS
BEGIN
	SELECT SUM(TONGTIEN )AS TONGTIEN FROM dbo.HOADON_tbl WHERE NGAYRA>=@tungay AND NGAYRA<=@denngay AND LOAIPHONG = @loaiphong
END
GO
/****** Object:  StoredProcedure [dbo].[TongTienTheoDVP]    Script Date: 7/12/2022 2:03:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROC [dbo].[TongTienTheoDVP]
@iddv INT,
@ngayvao DATE,
@ngayra DATE
AS
BEGIN
	SELECT SUM(dv.DONGIA*dvp.SOLAN) AS TIENDV
	FROM dbo.HOADON_tbl hd JOIN dbo.DICHVUPHONG_tbl dvp ON hd.IDDATPHONG = dvp.IDDATPHONG JOIN dbo.DICHVU_tbl dv ON dv.IDDV = dvp.IDDV
	WHERE dv.IDDV = @iddv AND hd.NGAYVAO >= @ngayvao AND hd.NGAYRA<=@ngayra
END
GO
/****** Object:  StoredProcedure [dbo].[TongTienTheoPhong]    Script Date: 7/12/2022 2:03:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROC [dbo].[TongTienTheoPhong]
@tenPhong NVARCHAR(100),
@ngayvao DATE,
@ngayra DATE
AS
BEGIN
	SELECT SUM(hd.TIENPHONG)AS TONGTP
	FROM dbo.HOADON_tbl hd JOIN dbo.PHONG_tbl p ON p.TENPHONG = hd.TENPHONG JOIN dbo.LOAIPHONG_tbl lp ON lp.IDLOAIPHONG = p.IDLOAIPHONG
	WHERE hd.TENPHONG =@tenPhong AND hd.NGAYVAO >= @ngayvao AND hd.NGAYRA<=@ngayra
END
GO
/****** Object:  StoredProcedure [dbo].[TongTheoKhachHang]    Script Date: 7/12/2022 2:03:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROC [dbo].[TongTheoKhachHang]
@loaikh INT,
@ngayvao DATE,
@ngayra DATE
AS
BEGIN
	SELECT SUM(hd.TONGTIEN) AS TONGTIEN
	FROM dbo.HOADON_tbl hd JOIN dbo.KHACHHANG_tbl kh ON hd.HOTEN = kh.HO+' '+kh.TEN
	WHERE kh.IDLOAIKH =@loaikh AND hd.NGAYVAO >= @ngayvao AND hd.NGAYRA<=@ngayra
END
GO
/****** Object:  StoredProcedure [dbo].[Themdatphong]    Script Date: 7/12/2022 2:03:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[Themdatphong]
@idkh int,
@idphong int,
@ngaydat date,
@ngaytra date
as
begin
		INSERT INTO DATPHONG_tbl(IDKH,IDPHONG,NGAYDAT,NGAYTRA) VALUES(@idkh,@idphong,@ngaydat,@ngaytra)
end
GO
/****** Object:  StoredProcedure [dbo].[Themdsdichvu]    Script Date: 7/12/2022 2:03:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[Themdsdichvu]
@idphong int,
@iddv int
as
begin
		insert into DICHVUPHONG_tbl(IDPHONG,IDDV) VALUES(@idphong,@iddv)
end
GO
/****** Object:  StoredProcedure [dbo].[ThemKH]    Script Date: 7/12/2022 2:03:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   proc [dbo].[ThemKH]
@ho nvarchar(100),
@ten nvarchar(100),
@sdt nvarchar(100),
@quoctich nvarchar(100),
@diachi nvarchar(100),
@cccd NVARCHAR(100)
as
BEGIN
		DECLARE @existcccd NVARCHAR(100)
		SELECT @existcccd = dbo.KHACHHANG_tbl.CCCD
		FROM dbo.KHACHHANG_tbl
		WHERE dbo.KHACHHANG_tbl.CCCD = @cccd 
		IF(@existcccd = @cccd)
			BEGIN
			    UPDATE dbo.KHACHHANG_tbl SET dbo.KHACHHANG_tbl.CCCD = @cccd WHERE dbo.KHACHHANG_tbl.CCCD =@cccd
			END
		ELSE
			BEGIN
			    INSERT INTO KHACHHANG_tbl(HO,TEN,SDT,QUOCTICH,DIACHI,CCCD) VALUES(@ho,@ten,@sdt,@quoctich,@diachi,@cccd)
			END		
end
GO
/****** Object:  StoredProcedure [dbo].[ThemNV]    Script Date: 7/12/2022 2:03:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Them User
CREATE   proc [dbo].[ThemNV]
@iduser int,
@hoten nvarchar(100),
@sdt nvarchar(100),
@luong int,
@diachi nvarchar(100),
@chucvu nvarchar(100),
@email NVARCHAR(100)
as
begin
		INSERT INTO NHANVIEN_tbl(IDUSER,HOTEN,SDT,LUONG,DIACHI,CHUCVU,EMAIL) VALUES(@iduser,@hoten,@sdt,@luong,@diachi,@chucvu,@email)
end
GO
/****** Object:  StoredProcedure [dbo].[ThemRoom]    Script Date: 7/12/2022 2:03:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Them phong
create proc [dbo].[ThemRoom]
@idloaiphong int,
@tenphong nvarchar(100),
@trangthai nvarchar(100)
as
begin
		INSERT INTO PHONG_tbl (IDLOAIPHONG,TENPHONG,ROOM_STATUS) VALUES(@idloaiphong,@tenphong,@trangthai)
end
GO
/****** Object:  StoredProcedure [dbo].[Themtraphong]    Script Date: 7/12/2022 2:03:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[Themtraphong]
@idtp int,
@idkh int,
@idphong int,
@ngaytra date
as
begin
		INSERT INTO TRAPHONG_tbl(IDTRAPHONG,IDKH,IDPHONG,NGAYTRA) VALUES(@idtp,@idkh,@idphong,@ngaytra)
end
GO
/****** Object:  StoredProcedure [dbo].[ThemUser]    Script Date: 7/12/2022 2:03:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Them User
create proc [dbo].[ThemUser]
@ten nvarchar(100),
@tk nvarchar(100),
@mk nvarchar(100),
@email nvarchar(100),
@type int
as
begin
		INSERT INTO USER_tbl (DISPLAYNAME,USER_NAME,USER_PASS,EMAIL,USER_TYPE) VALUES(@ten,@tk,@mk,@email,@type)
end
GO
/****** Object:  StoredProcedure [dbo].[ThongKeTheoDV]    Script Date: 7/12/2022 2:03:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE    PROC [dbo].[ThongKeTheoDV]
@tungay DATE,
@denngay DATE
AS
BEGIN
	SELECT dv.TENDV,COUNT(*) AS SOLAN FROM dbo.HOADON_tbl a JOIN dbo.DATPHONG_tbl b ON  a.IDDATPHONG=b.ID JOIN dbo.DICHVUPHONG_tbl c ON c.IDDATPHONG = a.IDDATPHONG JOIN dbo.DICHVU_tbl dv ON dv.IDDV = c.IDDV
	WHERE a.NGAYVAO>=@tungay AND a.NGAYRA<=@denngay
	GROUP BY (dv.TENDV)
END
GO
/****** Object:  StoredProcedure [dbo].[ThongKeTheoLoaiPhong]    Script Date: 7/12/2022 2:03:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE    PROC [dbo].[ThongKeTheoLoaiPhong]
@tungay DATE,
@denngay DATE
AS
BEGIN
	SELECT LOAIPHONG ,ROUND(SUM(TIENPHONG)*100.0/(SELECT SUM(TIENPHONG) FROM dbo.HOADON_tbl ),1) AS TONGTIEN FROM dbo.HOADON_tbl
	WHERE NGAYVAO>=@tungay AND NGAYRA<=@denngay
	GROUP BY LOAIPHONG
END
GO
/****** Object:  StoredProcedure [dbo].[ThongKeTheoThang]    Script Date: 7/12/2022 2:03:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE    PROC [dbo].[ThongKeTheoThang]
@tungay DATE,
@denngay DATE
AS
BEGIN
	SELECT MONTH(NGAYRA) AS THANG,SUM(TONGTIEN)AS TONGTIEN FROM dbo.HOADON_tbl
	WHERE NGAYVAO>=@tungay AND NGAYRA<=@denngay
	GROUP BY MONTH(NGAYRA)
END
GO
/****** Object:  StoredProcedure [dbo].[UpdateVip]    Script Date: 7/12/2022 2:03:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROC [dbo].[UpdateVip]
@CCCD NVARCHAR(100)
AS
BEGIN
	UPDATE dbo.KHACHHANG_tbl SET IDLOAIKH = 1 WHERE CCCD =@CCCD
END
GO
/****** Object:  StoredProcedure [dbo].[USP_DoiTrangThaiTraPhong]    Script Date: 7/12/2022 2:03:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROC [dbo].[USP_DoiTrangThaiTraPhong]
@idphong INT,
@iddatphong INT
as
begin
		UPDATE dbo.DATPHONG_tbl SET STATUS  =1 WHERE ID =@iddatphong
		UPDATE dbo.PHONG_tbl SET ROOM_STATUS =N'Trống' WHERE IDPHONG = @idphong
END
GO
/****** Object:  StoredProcedure [dbo].[USP_DSDV]    Script Date: 7/12/2022 2:03:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  	 PROCEDURE [dbo].[USP_DSDV]
AS
BEGIN
     SELECT dv.IDDV ,CAST(dv1.IDDV as NVARCHAR(100))+' - '+dv.TENDV AS 'TENDV',dv.DONGIA
	 FROM dbo.DICHVU_tbl dv,dbo.DICHVU_tbl dv1
	 WHERE dv.IDDV=dv1.IDDV
END
GO
/****** Object:  StoredProcedure [dbo].[USP_DSPhongAll]    Script Date: 7/12/2022 2:03:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  	 PROCEDURE [dbo].[USP_DSPhongAll]
AS
BEGIN
     SELECT dbo.PHONG_tbl.IDPHONG,dbo.PHONG_tbl.IDLOAIPHONG,dbo.PHONG_tbl.TENPHONG+' - '+dbo.LOAIPHONG_tbl.TENLOAIPHONG AS 'TENPHONG',dbo.PHONG_tbl.ROOM_STATUS 
	 FROM dbo.PHONG_tbl,dbo.LOAIPHONG_tbl 
	 WHERE LOAIPHONG_tbl.IDLOAIPHONG = dbo.PHONG_tbl.IDLOAIPHONG
END
GO
/****** Object:  StoredProcedure [dbo].[USP_DSPhongTrong]    Script Date: 7/12/2022 2:03:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  	 PROCEDURE [dbo].[USP_DSPhongTrong]
AS
BEGIN
     SELECT dbo.PHONG_tbl.IDPHONG,dbo.PHONG_tbl.IDLOAIPHONG,dbo.PHONG_tbl.TENPHONG+' - '+dbo.LOAIPHONG_tbl.TENLOAIPHONG AS 'TENPHONG',dbo.PHONG_tbl.ROOM_STATUS 
	 FROM dbo.PHONG_tbl,dbo.LOAIPHONG_tbl 
	 WHERE ROOM_STATUS =N'Trống' AND LOAIPHONG_tbl.IDLOAIPHONG = dbo.PHONG_tbl.IDLOAIPHONG
END
GO
/****** Object:  StoredProcedure [dbo].[USP_GetListThietBiPhong]    Script Date: 7/12/2022 2:03:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create  proc [dbo].[USP_GetListThietBiPhong]
@tenPhong NVARCHAR(100)
as
begin
		SELECT b.IDTBP,c.TENPHONG,a.TENTB,b.SOLUONG FROM THIETBI_tbl a JOIN  THIETBIPHONG_tbl b ON a.IDTB=b.IDTB JOIN PHONG_tbl c ON b.IDPHONG=c.IDPHONG WHERE c.TENPHONG =@tenPhong
end
GO
/****** Object:  StoredProcedure [dbo].[USP_KiemTraCCCD]    Script Date: 7/12/2022 2:03:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   proc [dbo].[USP_KiemTraCCCD]
@ho nvarchar(100),
@ten nvarchar(100),
@sdt nvarchar(100),
@quoctich nvarchar(100),
@diachi nvarchar(100),
@cccd NVARCHAR(100)
as
BEGIN
		SELECT * FROM dbo.KHACHHANG_tbl 
		WHERE HO =@ho AND TEN = @ten AND SDT = @sdt AND QUOCTICH =@quoctich AND DIACHI = @diachi AND CCCD = 1235
end
GO
/****** Object:  StoredProcedure [dbo].[USP_LayBillCuaPhong]    Script Date: 7/12/2022 2:03:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROC [dbo].[USP_LayBillCuaPhong]
@idphong INT 
as
begin
		SELECT * FROM dbo.DATPHONG_tbl WHERE STATUS  = 0 AND idphong = @idphong
end
GO
/****** Object:  StoredProcedure [dbo].[USP_LayDVChitiet]    Script Date: 7/12/2022 2:03:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE    PROC [dbo].[USP_LayDVChitiet]
@iddatphong int
as
begin
		SELECT CAST(dbo.DICHVU_tbl.IDDV AS NVARCHAR(100))+'.'+dbo.DICHVU_tbl.TENDV AS'TENDV', dbo.DICHVU_tbl.DONGIA ,dbo.DICHVUPHONG_tbl.SOLAN , CAST(dbo.DICHVU_tbl.DONGIA as INT)*dbo.DICHVUPHONG_tbl.SOLAN AS 'THANHTIEN' 
		FROM dbo.DICHVU_tbl	,dbo.DICHVUPHONG_tbl 
		WHERE	dbo.DICHVUPHONG_tbl.IDDV = dbo.DICHVU_tbl.IDDV AND dbo.DICHVUPHONG_tbl.IDDATPHONG =@iddatphong
END
GO
/****** Object:  StoredProcedure [dbo].[USP_LayIDByTenTB]    Script Date: 7/12/2022 2:03:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE    PROC [dbo].[USP_LayIDByTenTB]
@tentb NVARCHAR(100)
as
begin
		SELECT * FROM THIETBI_tbl WHERE TENTB = @tentb
end
GO
/****** Object:  StoredProcedure [dbo].[USP_LayiddatphongbyIDphong]    Script Date: 7/12/2022 2:03:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROC [dbo].[USP_LayiddatphongbyIDphong]
@idphong int
as
begin
		SELECT *
		FROM dbo.DATPHONG_tbl
		WHERE STATUS = 0 AND IDPHONG =@idphong
END
GO
/****** Object:  StoredProcedure [dbo].[USP_layphongbangtenphong]    Script Date: 7/12/2022 2:03:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROC [dbo].[USP_layphongbangtenphong]
@tenphongmoi NVARCHAR(100)
as
begin
		SELECT *
		FROM dbo.PHONG_tbl
		WHERE TENPHONG =@tenphongmoi
end
GO
/****** Object:  StoredProcedure [dbo].[USP_LAYTENPHONGTB]    Script Date: 7/12/2022 2:03:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROC [dbo].[USP_LAYTENPHONGTB]
as
begin
		SELECT TENPHONG FROM PHONG_tbl
end
GO
/****** Object:  StoredProcedure [dbo].[USP_LAYTENTB]    Script Date: 7/12/2022 2:03:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE    PROC [dbo].[USP_LAYTENTB]
as
begin
		SELECT * FROM THIETBI_tbl
end
GO
/****** Object:  StoredProcedure [dbo].[USP_LayTenVaGia]    Script Date: 7/12/2022 2:03:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROC [dbo].[USP_LayTenVaGia]
@idphong INT
as
begin
		SELECT dbo.PHONG_tbl.IDPHONG , CAST(dbo.LOAIPHONG_tbl.DONGIA as INT) AS 'IDLOAIPHONG',TENPHONG,dbo.LOAIPHONG_tbl.TENLOAIPHONG AS ROOM_STATUS
		FROM dbo.PHONG_tbl ,dbo.LOAIPHONG_tbl 
		WHERE LOAIPHONG_tbl.IDLOAIPHONG = dbo.PHONG_tbl.IDLOAIPHONG AND dbo.PHONG_tbl.IDPHONG = @idphong
end
GO
/****** Object:  StoredProcedure [dbo].[USP_LayUserbangEmailNV]    Script Date: 7/12/2022 2:03:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROC [dbo].[USP_LayUserbangEmailNV]
@email NVARCHAR(100)
as
begin
		SELECT * FROM dbo.USER_tbl WHERE EMAIL =@email	
END
GO
/****** Object:  StoredProcedure [dbo].[USP_ListDATPHONG]    Script Date: 7/12/2022 2:03:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   proc [dbo].[USP_ListDATPHONG]
AS
begin
	SELECT a.ID,b.TENPHONG,c.HO+' '+c.TEN AS 'TENKH',a.NGAYDAT ,a.NGAYTRA ,IIF(a.STATUS=0,N'Chưa Thanh Toán',N'Đã Thanh Toán') AS STATUS FROM dbo.DATPHONG_tbl a JOIN dbo.PHONG_tbl b ON b.IDPHONG = a.IDPHONG JOIN dbo.KHACHHANG_tbl c ON c.IDKH = a.IDKH
end
GO
/****** Object:  StoredProcedure [dbo].[USP_Login]    Script Date: 7/12/2022 2:03:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   proc [dbo].[USP_Login]
@userName nvarchar(100),@pass nvarchar(1000)
as
begin
		select DISPLAYNAME from USER_tbl where USER_NAME =@userName and USER_PASS=@pass
end
GO
/****** Object:  StoredProcedure [dbo].[USP_SearchDATPHONG]    Script Date: 7/12/2022 2:03:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   proc [dbo].[USP_SearchDATPHONG]
@text NVARCHAR(100)
AS
begin
	SELECT a.ID,b.TENPHONG,c.HO+' '+c.TEN AS 'TENKH',a.NGAYDAT ,a.NGAYTRA ,IIF(a.STATUS=0,N'Chưa Thanh Toán',N'Đã Thanh Toán') AS STATUS 
	FROM dbo.DATPHONG_tbl a JOIN dbo.PHONG_tbl b ON b.IDPHONG = a.IDPHONG JOIN dbo.KHACHHANG_tbl c ON c.IDKH = a.IDKH
	WHERE b.TENPHONG LIKE N'%'+@text+N'%' OR c.HO+' '+c.TEN LIKE N'%'+@text+N'%'
end
GO
/****** Object:  StoredProcedure [dbo].[USP_SearchHD]    Script Date: 7/12/2022 2:03:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   proc [dbo].[USP_SearchHD]
@text NVARCHAR(100)
AS
begin
	SELECT * 
	FROM dbo.HOADON_tbl
	WHERE TENPHONG LIKE N'%'+@text+N'%' OR HOTEN LIKE N'%'+@text+N'%' OR LOAIPHONG LIKE N'%'+@text+N'%' 
END
GO
/****** Object:  StoredProcedure [dbo].[USP_SuaDVVaGia]    Script Date: 7/12/2022 2:03:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROC [dbo].[USP_SuaDVVaGia]
@id INT,
@tenDV NVARCHAR(100),
@dongia float
as
begin
	UPDATE dbo.DICHVU_tbl SET TENDV = @tenDV ,DONGIA =@dongia WHERE IDDV= @id
END
GO
/****** Object:  StoredProcedure [dbo].[USP_Suaphongvacapnhat]    Script Date: 7/12/2022 2:03:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROC [dbo].[USP_Suaphongvacapnhat]
@iddatphong INT,
@idphongmoi INT 
as
begin	
		DECLARE @idphongcu INT;
		SELECT @idphongcu = IDPHONG FROM dbo.DATPHONG_tbl WHERE ID =@iddatphong
		
		UPDATE dbo.DATPHONG_tbl SET IDPHONG =@idphongmoi WHERE ID =@iddatphong
		UPDATE dbo.PHONG_tbl SET ROOM_STATUS =N'Trống' WHERE IDPHONG = @idphongcu
		UPDATE dbo.PHONG_tbl SET ROOM_STATUS =N'Bận' WHERE IDPHONG = @idphongmoi
	
END
GO
/****** Object:  StoredProcedure [dbo].[USP_SuaTB]    Script Date: 7/12/2022 2:03:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--sua TB
CREATE   PROC [dbo].[USP_SuaTB]
@idtb INT,
@tentb NVARCHAR(100),
@gia float
AS
BEGIN
		UPDATE THIETBI_tbl SET TENTB=@tentb,DONGIA=@gia WHERE IDTB=@idtb
END
GO
/****** Object:  StoredProcedure [dbo].[USP_SuaTBP]    Script Date: 7/12/2022 2:03:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE    PROC [dbo].[USP_SuaTBP]
@idtbp INT,
@idphong int,
@idTB INT ,
@SL INT
as
begin
		UPDATE dbo.THIETBIPHONG_tbl SET IDPHONG=@idphong,IDTB=@idTB,SOLUONG=@SL WHERE IDTBP=@idtbp
end
GO
/****** Object:  StoredProcedure [dbo].[USP_ThemBillDatPhong]    Script Date: 7/12/2022 2:03:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROC [dbo].[USP_ThemBillDatPhong]
@idkh int ,
@idphong int ,
@ngaydat Date,
@ngayra Date,
@status int
as
begin
		INSERT INTO DATPHONG_tbl(IDKH,IDPHONG,NGAYDAT,NGAYTRA,STATUS) VALUES(@idkh,@idphong,@ngaydat,@ngayra,@status)
		UPDATE dbo.PHONG_tbl SET ROOM_STATUS =N'Bận' WHERE dbo.PHONG_tbl.IDPHONG = @idphong
end
GO
/****** Object:  StoredProcedure [dbo].[USP_ThemDichvuVaoBill]    Script Date: 7/12/2022 2:03:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE    PROC [dbo].[USP_ThemDichvuVaoBill]
@idphong INT,
@iddatphong INT ,
@iddv int ,
@soluong INT
AS	
BEGIN	
		DECLARE @ExistDV INT 
		DECLARE @SolanDV INT = 1
		SELECT @ExistDV = b.IDDVPHONG , @SolanDV = b.SOLAN 
		FROM dbo.DICHVUPHONG_tbl b
		WHERE b.IDDATPHONG = @iddatphong AND b.IDDV = @iddv
		IF(	@ExistDV >0)
		BEGIN
		    DECLARE @newCount INT = @SolanDV + @soluong
			IF(@newCount >0)
				UPDATE dbo.DICHVUPHONG_tbl	SET SOLAN =@SolanDV + @soluong WHERE iddv = @iddv AND IDDATPHONG =@iddatphong
			ELSE
				DELETE dbo.DICHVUPHONG_tbl WHERE IDDATPHONG = @iddatphong AND IDDV = @iddv
		END
		ELSE	
		BEGIN
		    INSERT INTO dbo.DICHVUPHONG_tbl (IDPHONG,IDDATPHONG,IDDV,SOLAN)
		    VALUES(   @idphong , @iddatphong,  @iddv ,  @soluong  )
		END

END	
GO
/****** Object:  StoredProcedure [dbo].[USP_ThemDVVaGia]    Script Date: 7/12/2022 2:03:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROC [dbo].[USP_ThemDVVaGia]
@tenDV NVARCHAR(100),
@dongia float
as
begin
		INSERT INTO	dbo.DICHVU_tbl
		(
		    TENDV,
		    DONGIA
		)
		VALUES
		(   @tenDV, -- TENDV - nvarchar(100)
		    @dongia  -- DONGIA - float
		    )
END
GO
/****** Object:  StoredProcedure [dbo].[USP_ThemHoaDonThongKe]    Script Date: 7/12/2022 2:03:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE    PROC [dbo].[USP_ThemHoaDonThongKe]
	@IDDP INT,
	@TENPHONG NVARCHAR(100),
	@LOAIPHONG NVARCHAR(100),
	@NGAYVAO DATE ,
	@NGAYRA DATE ,
	@HOTEN NVARCHAR(100),
	@QUOCTICH NVARCHAR(100) ,
	@DIACHI NVARCHAR(100),
	@TIENPHONG FLOAT,
	@TIENDV FLOAT,
	@TONGTIEN FLOAT 
as
begin
		INSERT INTO  HOADON_tbl(IDDATPHONG,TENPHONG,LOAIPHONG,NGAYVAO,NGAYRA,HOTEN,QUOCTICH,DIACHI,TIENPHONG,TIENDV,TONGTIEN) 
		VALUES (@IDDP,@TENPHONG,@LOAIPHONG,@NGAYVAO,@NGAYRA,@HOTEN,@QUOCTICH,@DIACHI,@TIENPHONG,@TIENDV,@TONGTIEN)
END
GO
/****** Object:  StoredProcedure [dbo].[USP_ThemTB]    Script Date: 7/12/2022 2:03:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROC [dbo].[USP_ThemTB]
@tentb nvarchar(100),
@gia float
as
begin
		INSERT INTO THIETBI_tbl(TENTB,DONGIA) VALUES(@tentb,@gia)
end
GO
/****** Object:  StoredProcedure [dbo].[USP_ThemTBPHONG]    Script Date: 7/12/2022 2:03:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROC [dbo].[USP_ThemTBPHONG]
@idphong int,
@idtb INT,
@soluong int
as
begin
		INSERT INTO THIETBIPHONG_tbl(IDPHONG,IDTB,SOLUONG) VALUES(@idphong,@idtb,@soluong)
end
GO
/****** Object:  StoredProcedure [dbo].[USP_XoaDVVaGia]    Script Date: 7/12/2022 2:03:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROC [dbo].[USP_XoaDVVaGia]
@id INT
as
begin
	DELETE dbo.DICHVU_tbl WHERE IDDV= @id
END
GO
/****** Object:  StoredProcedure [dbo].[USP_XOATB]    Script Date: 7/12/2022 2:03:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--XOA TB
CREATE   PROC [dbo].[USP_XOATB]
@idtb INT
as
begin
		DELETE THIETBI_tbl WHERE IDTB=@idtb
end
GO
/****** Object:  StoredProcedure [dbo].[USP_XoaTBP]    Script Date: 7/12/2022 2:03:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE    PROC [dbo].[USP_XoaTBP]
@idtbp INT
as
begin
		DELETE dbo.THIETBIPHONG_tbl WHERE IDTBP=@idtbp
end
GO
/****** Object:  StoredProcedure [dbo].[XoaDP]    Script Date: 7/12/2022 2:03:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Xoa datphong
create proc [dbo].[XoaDP]
@iddp int
as
begin
		DELETE FROM DATPHONG_tbl WHERE ID =@iddp
end
GO
/****** Object:  StoredProcedure [dbo].[Xoadsdichvu]    Script Date: 7/12/2022 2:03:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--xoa ds dichvu
create proc [dbo].[Xoadsdichvu]
@iddvphong int
as
begin
		DELETE FROM DICHVUPHONG_tbl WHERE IDDVPHONG =@iddvphong
end
GO
/****** Object:  StoredProcedure [dbo].[XoaKH]    Script Date: 7/12/2022 2:03:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--xoa kh
create proc [dbo].[XoaKH]
@idkh int
as
begin
		DELETE FROM KHACHHANG_tbl WHERE IDKH =@idkh
end
GO
/****** Object:  StoredProcedure [dbo].[Xoanv]    Script Date: 7/12/2022 2:03:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[Xoanv]
@idnv int
as
begin
		DELETE FROM NHANVIEN_tbl WHERE IDNV =@idnv
end
GO
/****** Object:  StoredProcedure [dbo].[XoaRoom]    Script Date: 7/12/2022 2:03:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[XoaRoom]
@idphong int
as
begin
		DELETE FROM PHONG_tbl WHERE IDPHONG =@idphong
end
GO
/****** Object:  StoredProcedure [dbo].[XoaUser]    Script Date: 7/12/2022 2:03:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[XoaUser]
@id int
as
begin
		DELETE FROM USER_tbl WHERE ID =@id
end
GO
USE [master]
GO
